@mixin border(){
    border-bottom: 1px solid rgba(67,41,163,.2);
}

html, body, p, div, h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    @include border();
    height: 44px;
    margin: 0;
    display: grid;
    place-items: center;
}

h1 {
    color: #ff0000;
    font-family: 'Allerta', sans-serif;
    margin: 0;
    font-size: 21px;
}

.location {
    @include border();
    background: #fbfbfc;
    height: 44px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    p {
        display: block;
        color: #0070eb;
        font-size: 12px;
        align-self: center;
        // height: 100%;
    }
}

.jd-container {
    @include border();
    height: 150px;
    width: 100%;
    background-image: url(IMG_5437.jpeg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .logo {
        background: #202020;
        height: 70px;
        width: 70px;
        position: absolute;
        bottom: -20%;
        right: 5%;
        box-shadow: 0 0 2px rgba(67,41,163,.2);
        border-radius: 3px;
        display: flex;
        justify-content: center;
        span {
            align-self: center;
            font-size: 36px;
            font-family: 'Allerta', sans-serif;
            font-style: italic;
            color: #ffffff;
            overflow: hidden;
        }
    }
}

.jd-description {
    @include border();
    padding: 12px;
    h2 {
        font-weight: 700;
        font-size: 22px;
        padding: 6px 0;
    }
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
    }
    .rating {
        span {
            font-size: 30px;
            color: #ffa000;
        }
    }
}

.delivery {
    @include border();
    display: flex;
    padding: 12px;
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        align-self: center;
    }
}

.form-container{
    padding: 6px 8px;
    background: #fbfbfc;
    form {
        border: 1px solid rgba(67,41,163,.2);
        box-shadow: 0 0 2px rgba(67,41,163,.2);
        padding: 12px 6px;
        background: #ffffff;
        border-radius: 3px;
    }
    label {
        font-size: 22px;
    }
    textarea {
        width: calc(100% - 32px);
        height: 150px;
        padding: 10px 16px;
        border-radius: 4px;
        border: 1px solid #8f8fa1;
        font-size: 14px;
    }
    .price {
        text-align: right;
        padding: 6px 0;
        font-size: 22px;
    }
    button {
        width: 100%;
        border-radius: 20px;
        height: 40px;
        margin: 12px 0;
        color: #ffffff;
        background: #ff0000;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
        border: none;
    }
}